/* ===== POPUP ===== */
#popup{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.85);
  display:none;
  justify-content:center;
  align-items:center;
  z-index:999999;
}

.popup-box{
  background:#111;
  padding:30px;
  width:280px;
  text-align:center;
  border-radius:8px;
}

.popup-box p{margin:15px 0;}

#installBtn{
  background:#1e90ff;
  color:#fff;
  border:none;
  padding:10px 20px;
  border-radius:5px;
  cursor:pointer;
}
